@import service.FeatureSwitch
@import helper._

@(switches: List[FeatureSwitch], stage: String)(implicit request: play.api.mvc.RequestHeader)
<!doctype html>
<html>
    <head>
        <title>Switchboard</title>
    </head>
    <body>
        <h1>Feature switches for @stage</h1>

        <table>
            <thead>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    State
                </th>
            </thead>
            <tbody>
            @for(
                switch <- switches
            ) {
                <tr>
                    <td>
                        @{switch.name}
                    </td>
                    <td>
                        @{switch.description}
                    </td>
                    <td>

                    @helper.form(CSRF(routes.ManagementController.toggleSwitch(switch.id))) {
                        <input type="hidden" name="feature" value=@{!switch.isOn()}>
                        <input type="checkbox" name="enabled" @if(switch.isOn()) { checked } >
                        <button type="submit">Update</button>
                    }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </body>
</html>
