@import service.FeatureSwitch
@(switches: List[FeatureSwitch], stage: String)
<!doctype html>
<html>
    <head>
        <title>Switchboard</title>
    </head>
    <body>
        <h1>Feature switches for @stage</h1>
        <table>
            <thead>
                <th>
                    Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    State
                </th>
            </thead>
            <tbody>
            @for(
                switch <- switches
            ) {
                <tr>
                    <td>
                        @{switch.name}
                    </td>
                    <td>
                        @{switch.description}
                    </td>
                    <td>
                        @{if(switch.isOn()) "On" else "Off"}
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </body>
</html>