*.js
!jest.config.js
!jest.setup.js
!.eslintrc.js
!.lage.config.js
node_modules
dist
out
coverage

.idea

# CDK asset staging directory
.cdk.staging
cdk.out

*.tsbuildinfo

vite.config.d.ts
.DS_Store
.vscode
.bsp
.metals
.scala-build/
